/design/sprites-assets/*
/_venv/*
/.venv/*
/sources/euro-truck-simulator-2/intermediate/ets2_VOLKAN_kapsamli_degisiklik_oncesi.json

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*.pyc
*~
*.sass-cache
*.ruby-version

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
.codeintel
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.idea
/content/generated/for_reference
/content/keyboards/for_reference
